@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

:root {
  --first-background-color: #0007c9;
  --first-text-color: #fff;
  --first-shadow: 1px 1px 2px #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff;
  --border-btn: 1px solid #fff;
  --border: 2px solid #fff;

  --second-background-color: #fff;
  --second-text-color: #0007c9;
  --second-shadow: 1px 1px 2px #0007c9, 0 0 0.1rem #0007c9, 0 0 0.1rem #0007c9;
}

.index {
  background: var(--first-background-color);
  font-family: Consolas, "Fira Code", monospace;
  color: var(--first-text-color);
  text-shadow: var(--first-shadow);
}
