.theme-button {
  margin: 24px 10px;
  border-radius: 4px;
  background: var(--first-background-color);
  color: var(--first-text-color);
  text-shadow: var(--first-shadow);
  border: var(--border-btn);
  box-shadow: var(--first-shadow);
  padding: 5px 10px;
  width: 150px;
}

.theme-button:hover {
  background-color: var(--second-background-color);
  color: var(--second-text-color);
  text-shadow: var(--second-shadow);
}
